@import '../../vars/src/index.css';

/* Default theme (light) */

:root {
  /*
    Colors
  */
  --color-primary-surface: var(--color-heycar-mint-50);
  --color-primary-main: var(--color-heycar-mint-500);
  --color-primary-hover: var(--color-heycar-mint-600);
  --color-primary-pressed: var(--color-heycar-mint-700);
  --color-primary-dark: var(--color-heycar-mint-900);
  --color-secondary-surface: var(--color-mica-blue-50);
  --color-secondary-main: var(--color-mica-blue-500);
  --color-secondary-hover: var(--color-mica-blue-600);
  --color-secondary-pressed: var(--color-mica-blue-700);
  --color-secondary-dark: var(--color-mica-blue-900);
  --color-tertiary-surface: var(--color-sunbeam-blue-50);
  --color-tertiary-main: var(--color-sunbeam-blue-500);
  --color-tertiary-hover: var(--color-sunbeam-blue-600);
  --color-tertiary-pressed: var(--color-sunbeam-blue-700);
  --color-tertiary-dark: var(--color-sunbeam-blue-900);
  --color-warning-surface: var(--color-mustang-yellow-50);
  --color-warning-main: var(--color-mustang-yellow-500);
  --color-warning-hover: var(--color-mustang-yellow-600);
  --color-warning-pressed: var(--color-mustang-yellow-700);
  --color-warning-dark: var(--color-mustang-yellow-900);
  --color-highlight-surface: var(--color-old-ferrari-red-50);
  --color-highlight-main: var(--color-old-ferrari-red-500);
  --color-highlight-hover: var(--color-old-ferrari-red-600);
  --color-highlight-pressed: var(--color-old-ferrari-red-700);
  --color-highlight-dark: var(--color-old-ferrari-red-900);
  --color-success-surface: var(--color-green-50);
  --color-success-main: var(--color-green-500);
  --color-success-hover: var(--color-green-600);
  --color-success-pressed: var(--color-green-700);
  --color-success-dark: var(--color-green-900);
  --color-error-surface: var(--color-red-50);
  --color-error-main: var(--color-red-500);
  --color-error-hover: var(--color-red-600);
  --color-error-pressed: var(--color-red-700);
  --color-error-dark: var(--color-red-900);
  --color-neutral-surface: var(--color-tarmac-grey-50);
  --color-neutral-main: var(--color-tarmac-grey-500);
  --color-neutral-hover: var(--color-tarmac-grey-600);
  --color-neutral-pressed: var(--color-tarmac-grey-700);
  --color-neutral-dark: var(--color-tarmac-grey-900);

  /*
    Sizes
  */
  --size-s-height: var(--gap-3xl);
  --size-m-height: var(--gap-5xl);
  --size-l-height: var(--gap-7xl);
}
