.colorBlock {
  margin-bottom: 20px !important;
}

.colorShade {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
  margin-right: 10px !important;
  width: 60px;
  height: 60px;
  display: inline-block;
  padding: 10px;
  color: #969090;
  font-weight: 600;
}

.colorShade span {
  display: table;
}

.colorShade span:nth-child(2) {
  font-size: 13px;
}

.brandColor {
  width: 100px;
  font-size: 12px;
}

/* Primary */
.primary-surface {
  background-color: var(--color-primary-surface);
}
.primary-main {
  background-color: var(--color-primary-main);
}
.primary-hover {
  background-color: var(--color-primary-hover);
}
.primary-pressed {
  background-color: var(--color-primary-pressed);
}
.primary-dark {
  background-color: var(--color-primary-dark);
}

/* Secondary */
.secondary-surface {
  background-color: var(--color-secondary-surface);
}
.secondary-main {
  background-color: var(--color-secondary-main);
}
.secondary-hover {
  background-color: var(--color-secondary-hover);
}
.secondary-pressed {
  background-color: var(--color-secondary-pressed);
}
.secondary-dark {
  background-color: var(--color-secondary-dark);
}

/* Tertiary */
.tertiary-surface {
  background-color: var(--color-tertiary-surface);
}
.tertiary-main {
  background-color: var(--color-tertiary-main);
}
.tertiary-hover {
  background-color: var(--color-tertiary-hover);
}
.tertiary-pressed {
  background-color: var(--color-tertiary-pressed);
}
.tertiary-dark {
  background-color: var(--color-tertiary-dark);
}

/* Warning */
.warning-surface {
  background-color: var(--color-warning-surface);
}
.warning-main {
  background-color: var(--color-warning-main);
}
.warning-hover {
  background-color: var(--color-warning-hover);
}
.warning-pressed {
  background-color: var(--color-warning-pressed);
}
.warning-dark {
  background-color: var(--color-warning-dark);
}

/* Highlight */
.highlight-surface {
  background-color: var(--color-highlight-surface);
}
.highlight-main {
  background-color: var(--color-highlight-main);
}
.highlight-hover {
  background-color: var(--color-highlight-hover);
}
.highlight-pressed {
  background-color: var(--color-highlight-pressed);
}
.highlight-dark {
  background-color: var(--color-highlight-dark);
}

/* Success */
.success-surface {
  background-color: var(--color-success-surface);
}
.success-main {
  background-color: var(--color-success-main);
}
.success-hover {
  background-color: var(--color-success-hover);
}
.success-pressed {
  background-color: var(--color-success-pressed);
}
.success-dark {
  background-color: var(--color-success-dark);
}

/* Error */
.error-surface {
  background-color: var(--color-error-surface);
}
.error-main {
  background-color: var(--color-error-main);
}
.error-hover {
  background-color: var(--color-error-hover);
}
.error-pressed {
  background-color: var(--color-error-pressed);
}
.error-dark {
  background-color: var(--color-error-dark);
}

/* Neutral */
.neutral-surface {
  background-color: var(--color-neutral-surface);
}
.neutral-main {
  background-color: var(--color-neutral-main);
}
.neutral-hover {
  background-color: var(--color-neutral-hover);
}
.neutral-pressed {
  background-color: var(--color-neutral-pressed);
}
.neutral-dark {
  background-color: var(--color-neutral-dark);
}
