@import '../../../themes/src/default.css';

.accordion {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.accordionHeader {
  @mixin typography-subheading-2;

  &.accordionHeaderOpen {
    font-weight: var(--font-weight-bold);
  }
}
