@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./src/assets/objektivmk3_bold.woff') format('woff2'),
    url('./src/assets/objektivmk3_bd.woff2') format('woff');
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
}
