:root {
  --column-gap: var(--column-gap);
  --column-width: calc((100% - (11 * var(--column-gap))) / 12);
}

@media (min-width: 768px) {
  :root {
    --column-gap: var(--gap-s);
  }
}

@media (min-width: 1024px) {
  :root {
    --column-gap: var(--gap-m);
  }
}

@media (min-width: 1440px) {
  :root {
    --column-gap: var(--gap-xl);
  }
}

/* Small Width Classes */
.sm-1 {
  width: var(--column-width);
}

.sm-2 {
  width: calc((var(--column-width) * 2) + var(--column-gap));
}

.sm-3 {
  width: calc((var(--column-width) * 3) + (2 * var(--column-gap)));
}

.sm-4 {
  width: calc((var(--column-width) * 4) + (3 * var(--column-gap)));
}

.sm-5 {
  width: calc((var(--column-width) * 5) + (4 * var(--column-gap)));
}

.sm-6 {
  width: calc((var(--column-width) * 6) + (5 * var(--column-gap)));
}

.sm-7 {
  width: calc((var(--column-width) * 7) + (6 * var(--column-gap)));
}

.sm-8 {
  width: calc((var(--column-width) * 8) + (7 * var(--column-gap)));
}

.sm-9 {
  width: calc((var(--column-width) * 9) + (8 * var(--column-gap)));
}

.sm-10 {
  width: calc((var(--column-width) * 10) + (9 * var(--column-gap)));
}

.sm-11 {
  width: calc((var(--column-width) * 11) + (10 * var(--column-gap)));
}

.sm-12 {
  width: 100%;
}

/* Small Offset Classes */
.sm-offset-1 {
  transform: translateX(var(--column-width));
}

.sm-offset-2 {
  transform: translateX(calc((var(--column-width) * 2) + var(--column-gap)));
}

.sm-offset-3 {
  transform: translateX(
    calc((var(--column-width) * 3) + (2 * var(--column-gap)))
  );
}

.sm-offset-4 {
  transform: translateX(
    calc((var(--column-width) * 4) + (3 * var(--column-gap)))
  );
}

.sm-offset-5 {
  transform: translateX(
    calc((var(--column-width) * 5) + (4 * var(--column-gap)))
  );
}

.sm-offset-6 {
  transform: translateX(
    calc((var(--column-width) * 6) + (5 * var(--column-gap)))
  );
}

.sm-offset-7 {
  transform: translateX(
    calc((var(--column-width) * 7) + (6 * var(--column-gap)))
  );
}

.sm-offset-8 {
  transform: translateX(
    calc((var(--column-width) * 8) + (7 * var(--column-gap)))
  );
}

.sm-offset-9 {
  transform: translateX(
    calc((var(--column-width) * 9) + (8 * var(--column-gap)))
  );
}

.sm-offset-10 {
  transform: translateX(
    calc((var(--column-width) * 10) + (9 * var(--column-gap)))
  );
}

.sm-offset-11 {
  transform: translateX(
    calc((var(--column-width) * 11) + (10 * var(--column-gap)))
  );
}

.sm-offset-12 {
  transform: translateX(100%);
}

/* Small Order Classes */
.sm-order-1 {
  order: 1;
}

.sm-order-2 {
  order: 2;
}

.sm-order-3 {
  order: 3;
}

.sm-order-4 {
  order: 4;
}

.sm-order-5 {
  order: 5;
}

.sm-order-6 {
  order: 6;
}

.sm-order-7 {
  order: 7;
}

.sm-order-8 {
  order: 8;
}

.sm-order-9 {
  order: 9;
}

.sm-order-10 {
  order: 10;
}

.sm-order-11 {
  order: 11;
}

.sm-order-12 {
  order: 12;
}

@media (min-width: 768px) {
  /* Medium Width Classes */
  .md-1 {
    width: var(--column-width);
  }

  .md-2 {
    width: calc((var(--column-width) * 2) + var(--column-gap));
  }

  .md-3 {
    width: calc((var(--column-width) * 3) + (2 * var(--column-gap)));
  }

  .md-4 {
    width: calc((var(--column-width) * 4) + (3 * var(--column-gap)));
  }

  .md-5 {
    width: calc((var(--column-width) * 5) + (4 * var(--column-gap)));
  }

  .md-6 {
    width: calc((var(--column-width) * 6) + (5 * var(--column-gap)));
  }

  .md-7 {
    width: calc((var(--column-width) * 7) + (6 * var(--column-gap)));
  }

  .md-8 {
    width: calc((var(--column-width) * 8) + (7 * var(--column-gap)));
  }

  .md-9 {
    width: calc((var(--column-width) * 9) + (8 * var(--column-gap)));
  }

  .md-10 {
    width: calc((var(--column-width) * 10) + (9 * var(--column-gap)));
  }

  .md-11 {
    width: calc((var(--column-width) * 11) + (10 * var(--column-gap)));
  }

  .md-12 {
    width: 100%;
  }

  /* Medium Offset Classes */
  .md-offset-1 {
    transform: translateX(var(--column-width));
  }

  .md-offset-2 {
    transform: translateX(calc((var(--column-width) * 2) + var(--column-gap)));
  }

  .md-offset-3 {
    transform: translateX(
      calc((var(--column-width) * 3) + (2 * var(--column-gap)))
    );
  }

  .md-offset-4 {
    transform: translateX(
      calc((var(--column-width) * 4) + (3 * var(--column-gap)))
    );
  }

  .md-offset-5 {
    transform: translateX(
      calc((var(--column-width) * 5) + (4 * var(--column-gap)))
    );
  }

  .md-offset-6 {
    transform: translateX(
      calc((var(--column-width) * 6) + (5 * var(--column-gap)))
    );
  }

  .md-offset-7 {
    transform: translateX(
      calc((var(--column-width) * 7) + (6 * var(--column-gap)))
    );
  }

  .md-offset-8 {
    transform: translateX(
      calc((var(--column-width) * 8) + (7 * var(--column-gap)))
    );
  }

  .md-offset-9 {
    transform: translateX(
      calc((var(--column-width) * 9) + (8 * var(--column-gap)))
    );
  }

  .md-offset-10 {
    transform: translateX(
      calc((var(--column-width) * 10) + (9 * var(--column-gap)))
    );
  }

  .md-offset-11 {
    transform: translateX(
      calc((var(--column-width) * 11) + (10 * var(--column-gap)))
    );
  }

  .md-offset-12 {
    transform: translateX(100%);
  }

  /* Medium Order Classes */
  .md-order-1 {
    order: 1;
  }

  .md-order-2 {
    order: 2;
  }

  .md-order-3 {
    order: 3;
  }

  .md-order-4 {
    order: 4;
  }

  .md-order-5 {
    order: 5;
  }

  .md-order-6 {
    order: 6;
  }

  .md-order-7 {
    order: 7;
  }

  .md-order-8 {
    order: 8;
  }

  .md-order-9 {
    order: 9;
  }

  .md-order-10 {
    order: 10;
  }

  .md-order-11 {
    order: 11;
  }

  .md-order-12 {
    order: 12;
  }
}

@media (min-width: 1024px) {
  /* Large Width Classes */
  .lg-1 {
    width: var(--column-width);
  }

  .lg-2 {
    width: calc((var(--column-width) * 2) + var(--column-gap));
  }

  .lg-3 {
    width: calc((var(--column-width) * 3) + (2 * var(--column-gap)));
  }

  .lg-4 {
    width: calc((var(--column-width) * 4) + (3 * var(--column-gap)));
  }

  .lg-5 {
    width: calc((var(--column-width) * 5) + (4 * var(--column-gap)));
  }

  .lg-6 {
    width: calc((var(--column-width) * 6) + (5 * var(--column-gap)));
  }

  .lg-7 {
    width: calc((var(--column-width) * 7) + (6 * var(--column-gap)));
  }

  .lg-8 {
    width: calc((var(--column-width) * 8) + (7 * var(--column-gap)));
  }

  .lg-9 {
    width: calc((var(--column-width) * 9) + (8 * var(--column-gap)));
  }

  .lg-10 {
    width: calc((var(--column-width) * 10) + (9 * var(--column-gap)));
  }

  .lg-11 {
    width: calc((var(--column-width) * 11) + (10 * var(--column-gap)));
  }

  .lg-12 {
    width: 100%;
  }

  /* Large Offset Classes */
  .lg-offset-1 {
    transform: translateX(var(--column-width));
  }

  .lg-offset-2 {
    transform: translateX(calc((var(--column-width) * 2) + var(--column-gap)));
  }

  .lg-offset-3 {
    transform: translateX(
      calc((var(--column-width) * 3) + (2 * var(--column-gap)))
    );
  }

  .lg-offset-4 {
    transform: translateX(
      calc((var(--column-width) * 4) + (3 * var(--column-gap)))
    );
  }

  .lg-offset-5 {
    transform: translateX(
      calc((var(--column-width) * 5) + (4 * var(--column-gap)))
    );
  }

  .lg-offset-6 {
    transform: translateX(
      calc((var(--column-width) * 6) + (5 * var(--column-gap)))
    );
  }

  .lg-offset-7 {
    transform: translateX(
      calc((var(--column-width) * 7) + (6 * var(--column-gap)))
    );
  }

  .lg-offset-8 {
    transform: translateX(
      calc((var(--column-width) * 8) + (7 * var(--column-gap)))
    );
  }

  .lg-offset-9 {
    transform: translateX(
      calc((var(--column-width) * 9) + (8 * var(--column-gap)))
    );
  }

  .lg-offset-10 {
    transform: translateX(
      calc((var(--column-width) * 10) + (9 * var(--column-gap)))
    );
  }

  .lg-offset-11 {
    transform: translateX(
      calc((var(--column-width) * 11) + (10 * var(--column-gap)))
    );
  }

  .lg-offset-12 {
    transform: translateX(100%);
  }

  /* Large Order Classes */
  .lg-order-1 {
    order: 1;
  }

  .lg-order-2 {
    order: 2;
  }

  .lg-order-3 {
    order: 3;
  }

  .lg-order-4 {
    order: 4;
  }

  .lg-order-5 {
    order: 5;
  }

  .lg-order-6 {
    order: 6;
  }

  .lg-order-7 {
    order: 7;
  }

  .lg-order-8 {
    order: 8;
  }

  .lg-order-9 {
    order: 9;
  }

  .lg-order-10 {
    order: 10;
  }

  .lg-order-11 {
    order: 11;
  }

  .lg-order-12 {
    order: 12;
  }
}

@media (min-width: 1024px) {
  /* Extra Large Width Classes */
  .xl-1 {
    width: var(--column-width);
  }

  .xl-2 {
    width: calc((var(--column-width) * 2) + var(--column-gap));
  }

  .xl-3 {
    width: calc((var(--column-width) * 3) + (2 * var(--column-gap)));
  }

  .xl-4 {
    width: calc((var(--column-width) * 4) + (3 * var(--column-gap)));
  }

  .xl-5 {
    width: calc((var(--column-width) * 5) + (4 * var(--column-gap)));
  }

  .xl-6 {
    width: calc((var(--column-width) * 6) + (5 * var(--column-gap)));
  }

  .xl-7 {
    width: calc((var(--column-width) * 7) + (6 * var(--column-gap)));
  }

  .xl-8 {
    width: calc((var(--column-width) * 8) + (7 * var(--column-gap)));
  }

  .xl-9 {
    width: calc((var(--column-width) * 9) + (8 * var(--column-gap)));
  }

  .xl-10 {
    width: calc((var(--column-width) * 10) + (9 * var(--column-gap)));
  }

  .xl-11 {
    width: calc((var(--column-width) * 11) + (10 * var(--column-gap)));
  }

  .xl-12 {
    width: 100%;
  }

  /* Extra Large Offset Classes */
  .xl-offset-1 {
    transform: translateX(var(--column-width));
  }

  .xl-offset-2 {
    transform: translateX(calc((var(--column-width) * 2) + var(--column-gap)));
  }

  .xl-offset-3 {
    transform: translateX(
      calc((var(--column-width) * 3) + (2 * var(--column-gap)))
    );
  }

  .xl-offset-4 {
    transform: translateX(
      calc((var(--column-width) * 4) + (3 * var(--column-gap)))
    );
  }

  .xl-offset-5 {
    transform: translateX(
      calc((var(--column-width) * 5) + (4 * var(--column-gap)))
    );
  }

  .xl-offset-6 {
    transform: translateX(
      calc((var(--column-width) * 6) + (5 * var(--column-gap)))
    );
  }

  .xl-offset-7 {
    transform: translateX(
      calc((var(--column-width) * 7) + (6 * var(--column-gap)))
    );
  }

  .xl-offset-8 {
    transform: translateX(
      calc((var(--column-width) * 8) + (7 * var(--column-gap)))
    );
  }

  .xl-offset-9 {
    transform: translateX(
      calc((var(--column-width) * 9) + (8 * var(--column-gap)))
    );
  }

  .xl-offset-10 {
    transform: translateX(
      calc((var(--column-width) * 10) + (9 * var(--column-gap)))
    );
  }

  .xl-offset-11 {
    transform: translateX(
      calc((var(--column-width) * 11) + (10 * var(--column-gap)))
    );
  }

  .xl-offset-12 {
    transform: translateX(100%);
  }

  /* Extra Large Order Classes */
  .xl-order-1 {
    order: 1;
  }

  .xl-order-2 {
    order: 2;
  }

  .xl-order-3 {
    order: 3;
  }

  .xl-order-4 {
    order: 4;
  }

  .xl-order-5 {
    order: 5;
  }

  .xl-order-6 {
    order: 6;
  }

  .xl-order-7 {
    order: 7;
  }

  .xl-order-8 {
    order: 8;
  }

  .xl-order-9 {
    order: 9;
  }

  .xl-order-10 {
    order: 10;
  }

  .xl-order-11 {
    order: 11;
  }

  .xl-order-12 {
    order: 12;
  }
}
