@use postcss-for;
@use postcss-custom-media;

@custom-media --tablet (min-width: 768px);
@custom-media --desktop (min-width: 1024px);
@custom-media --desktop-large (min-width: 1440px);

@define-mixin classes $breakpoint, $count {
  .$(breakpoint)-$(count) {
    width: calc(
      (var(--grid-column-width) * $count) +
        (($count - 1) * var(--grid-column-gap))
    );
  }
  .$(breakpoint)-offset-$(count) {
    transform: translateX(
      calc(
        (var(--grid-column-width) * $count) +
          (($count - 1) * var(--grid-column-gap))
      )
    );
  }
  .$(breakpoint)-order-$(count) {
    order: $count;
  }
}

/* Small Width, Offset and Order Classes */
@for $i from 1 to 12 {
  @mixin classes sm, $i;
}

@media (--tablet) {
  /* Medium Width, Offset and Order Classes */
  @for $i from 1 to 12 {
    @mixin classes md, $i;
  }
}

@media (--desktop) {
  /* Large Width, Offset and Order Classes */
  @for $i from 1 to 12 {
    @mixin classes lg, $i;
  }
}

@media (--desktop-large) {
  /* Extra Large Width, Offset and Order Classes */
  @for $i from 1 to 12 {
    @mixin classes xl, $i;
  }
}
