@use postcss-for;

:root {
  --grid-column-gap: var(--gap-m);
  --grid-column-width: calc((100% - (11 * var(--grid-column-gap))) / 12);
}

@media (min-width: 1024px) {
  :root {
    --grid-column-gap: var(--gap-xl);
  }
}

@define-mixin classes $breakpoint, $count {
  .$(breakpoint)-$(count) {
    width: calc(
      (var(--grid-column-width) * $count) + (($count - 1) * var(--grid-column-gap))
    );
  }
  .$(breakpoint)-offset-$(count) {
    transform: translateX(
      calc((var(--grid-column-width) * $count) + (($count - 1) * var(--grid-column-gap)))
    );
  }
  .$(breakpoint)-order-$(count) {
    order: $count;
  }
}

/* Small Width, Offset and Order Classes */
@for $i from 1 to 12 {
  @mixin classes sm, $i;
}

@media (min-width: 768px) {
  /* Medium Width, Offset and Order Classes */
  @for $i from 1 to 12 {
    @mixin classes md, $i;
  }
}

@media (min-width: 1024px) {
  /* Large Width, Offset and Order Classes */
  @for $i from 1 to 12 {
    @mixin classes lg, $i;
  }
}

@media (min-width: 1024px) {
  /* Extra Large Width, Offset and Order Classes */
  @for $i from 1 to 12 {
    @mixin classes xl, $i;
  }
}
