@use postcss-each;

.row {
  display: flex;
  flex-wrap: wrap;
  column-gap: var(--gap-m);
  padding: 0 var(--gap-m);
  width: 100%;
  box-sizing: border-box;
}

@each $row-gap in 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64 {
  .row-gap-$(row-gap) {
    row-gap: $(row-gap)px;
  }
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

@each $justify in center, space-between, space-evenly, space-around {
  .justify-$(justify) {
    justify-content: $justify;
  }
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

@each $align in center, stretch, baseline {
  .align-$(align) {
    align-items: $align;
  }
}

.reverse {
  flex-direction: row-reverse;
}

@media (min-width: 834px) {
  .row {
    padding: 0 var(--gap-xl);
  }
}

@media (min-width: 1024px) {
  .row {
    column-gap: var(--gap-xl);
    padding: 0 var(--gap-3xl);
  }
}

@media (min-width: 1440px) {
  .row {
    padding: 0 var(--gap-9xl);
    max-width: 1440px;
    margin: auto;
  }
}
