@use postcss-each;
@use postcss-custom-media;

@custom-media --tablet (min-width: 768px);
@custom-media --tablet-large (min-width: 834px);
@custom-media --desktop (min-width: 1024px);
@custom-media --desktop-large (min-width: 1440px);

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 var(--gap-m);
  width: 100%;
  box-sizing: border-box;
}

@define-mixin gapClasses $breakpoint, $value {
  .$(breakpoint)-column-gap-$(value) {
    --grid-column-gap: calc($value * 1px);
    --grid-column-width: calc((100% - (11 * var(--grid-column-gap))) / 12);
    column-gap: var(--grid-column-gap);
  }
  .$(breakpoint)-row-gap-$(value) {
    row-gap: calc($value * 1px);
  }
}

@each $gap in 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64 {
  /* Small Gap Classes */
  @mixin gapClasses sm, $gap;
}

@media (--tablet) {
  @each $gap in 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64 {
    /* Medium Gap Classes */
    @mixin gapClasses md, $gap;
  }
}

@media (--desktop) {
  @each $gap in 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64 {
    /* Large Gap Classes */
    @mixin gapClasses lg, $gap;
  }
}

@media (--desktop-large) {
  @each $gap in 0, 2, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 56, 64 {
    /* Extra Large Gap Classes */
    @mixin gapClasses xl, $gap;
  }
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

@each $justify in center, space-between, space-evenly, space-around {
  .justify-$(justify) {
    justify-content: $justify;
  }
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

@each $align in center, stretch, baseline {
  .align-$(align) {
    align-items: $align;
  }
}

.reverse {
  flex-direction: row-reverse;
}

@media (--tablet-large) {
  .row {
    padding: 0 var(--gap-xl);
  }
}

@media (--desktop) {
  .row {
    padding: 0 var(--gap-3xl);
  }
}

@media (--desktop-large) {
  .row {
    padding: 0 var(--gap-9xl);
    max-width: 1440px;
    margin: auto;
  }
}
