.col {
  flex: 0 1 auto;
  margin: 0 var(--gap-s) 0 0;
}

.col:last-child {
  margin-right: 0;
}

.span-1 {
  width: calc(100% / 12);
}

.span-2 {
  width: calc(100% / 12 * 2);
}

.span-3 {
  width: calc(100% / 12 * 3);
}

.span-4 {
  width: calc(100% / 12 * 4);
}

.span-5 {
  width: calc(100% / 12 * 5);
}

.span-6 {
  width: calc(100% / 2);
}
