@import '../../../themes/src/default.css';

.typography__display {
  font-size: 60px;
  line-height: 68px;
  letter-spacing: -0.04em;
  font-weight: var(--font-weight-xbold);
}

.typography__h_1 {
  font-size: 48px;
  line-height: 56px;
  letter-spacing: -0.02em;
  font-weight: var(--font-weight-bold);
}

.typography__h_2 {
  font-size: 32px;
  letter-spacing: -0.02em;
  font-weight: var(--font-weight-bold);
}

.typography__h_3 {
  font-size: 28px;
  letter-spacing: -0.02em;
  font-weight: var(--font-weight-bold);
}

.typography__h_4 {
  font-size: 24px;
  letter-spacing: -0.01em;
  font-weight: var(--font-weight-bold);
}

.typography__h_5 {
  font-size: 20px;
  letter-spacing: -0.01em;
  font-weight: var(--font-weight-bold);
}

.typography__h_6 {
  font-size: 16px;
  letter-spacing: -0.01em;
  font-weight: var(--font-weight-bold);
}

.typography__sh {
  line-height: normal;

  &.typography__sh_1 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
  }

  &.typography__sh_2 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
  }

  &.typography__sh_3 {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
  }
}

.typography__body {
  line-height: 160%;

  &.typography__body_1 {
    font-size: 16px;
    font-weight: var(--font-weight-medium);
  }

  &.typography__body_2 {
    font-size: 14px;
    font-weight: var(--font-weight-medium);
  }

  &.typography__body_3 {
    font-size: 16px;
    font-weight: var(--font-weight-regular);
  }

  &.typography__body_4 {
    font-size: 14px;
    font-weight: var(--font-weight-regular);
  }

  &.typography__body_5 {
    font-size: 12px;
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
  }

  &.typography__body_6 {
    font-size: 10px;
    font-weight: var(--font-weight-regular);
    text-transform: uppercase;
  }
}

.typography__caption {
  line-height: normal;
  display: inline;

  &.typography__caption_1 {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
  }

  &.typography__caption_2 {
    font-size: 12px;
    font-weight: var(--font-weight-regular);
  }

  &.typography__caption_3 {
    font-size: 10px;
    font-weight: var(--font-weight-bold);
  }

  &.typography__caption_4 {
    font-size: 10px;
    font-weight: var(--font-weight-medium);
  }

  &.typography__caption_5 {
    font-size: 10px;
    font-weight: var(--font-weight-regular);
  }
}

.typography__overline {
  line-height: normal;
  text-transform: uppercase;
  letter-spacing: 0.04em;

  &.typography__overline_1 {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
  }

  &.typography__overline_2 {
    font-size: 10px;
    font-weight: var(--font-weight-medium);
  }
}

.typography__button {
  line-height: normal;
  letter-spacing: 0.02em;

  &.typography__button_1 {
    font-size: 16px;
    font-weight: var(--font-weight-bold);
  }

  &.typography__button_2 {
    font-size: 14px;
    font-weight: var(--font-weight-bold);
  }

  &.typography__button_3 {
    font-size: 12px;
    font-weight: var(--font-weight-medium);
  }
}

.typography__highlight {
  background-color: var(--color-secondary-700);
  display: inline;
  color: var(--color-championship-white);
  padding: 2px 6px;
  margin-right: 3px;
}

@media screen and (max-width: 768px) {
  .typography__display {
    font-size: 48px;
    line-height: 56px;
    letter-spacing: -0.02em;
  }

  .typography__h_1 {
    font-size: 32px;
    line-height: 40px;
  }

  .typography__h_2 {
    font-size: 28px;
  }

  .typography__h_3 {
    font-size: 24px;
  }

  .typography__h_4 {
    font-size: 20px;
    letter-spacing: -0.02em;
  }

  .typography__h_5 {
    font-size: 16px;
  }
}
