@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_regular.woff2') format('woff2'),
    url('./assets/objektivmk3_regular.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0;
}
