@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_medium.woff2') format('woff2'),
    url('./assets/objektivmk3_medium.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}
