@import '../../../themes/src/default.css';

:root {
  --switch-checked-color: var(--color-primary-500);
  --switch-unchecked-color: var(--color-neutral-500);
  --switch-unchecked-hover-color: var(--color-neutral-600);
  --switch-unchecked-pressed-color: var(--color-neutral-700);
}

.container {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;

  & .switch {
    position: absolute;
    cursor: pointer;
    background-color: var(--switch-unchecked-color);
    border-radius: 53px;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: background-color 0.2s ease;

    &:before {
      position: absolute;
      content: '';
      left: 1px;
      top: 1px;
      width: 22px;
      height: 22px;
      background-color: var(--color-championship-white);
      border-radius: 50%;
      transition: transform 0.3s ease;
    }
  }

  & input[type='checkbox'] {
    display: none;
  }

  & input[type='checkbox']:checked + .switch:before {
    transform: translateX(16px);
    background-color: var(--color-championship-white);
  }

  & input[type='checkbox']:checked + .switch {
    background-color: var(--switch-checked-color);
  }

  &:hover input[type='checkbox']:not(:checked) + .switch {
    background-color: var(--switch-unchecked-hover-color);
  }

  &:active input[type='checkbox']:not(:checked) + .switch {
    background-color: var(--switch-unchecked-pressed-color);
  }
}
