@import '../../../themes/src/default.css';

.counter {
  padding: 0 var(--spacing-4) 0 var(--spacing-2);
  float: right;
  font-size: 12px;
  color: var(--color-neutral-500);
}

.countLength {
  display: inline;
  color: var(--color-neutral-700);
}

.countLengthError {
  color: var(--color-error-500);
}
