:root {
  --color-mica-blue-50: #e8edf6;
  --color-mica-blue-100: #d0dbed;
  --color-mica-blue-200: #a2b7da;
  --color-mica-blue-300: #7394c8;
  --color-mica-blue-400: #164ca3;
  --color-mica-blue-500: #052962;
  --color-mica-blue-600: #04214e;
  --color-mica-blue-800: #021027;
  --color-mica-blue-900: #010814;
  --color-min-50: #e6faf6;
  --color-min-100: #ccf5ed;
  --color-min-200: #99eddb;
  --color-min-300: #66e2c9;
  --color-min-400: #33d8b7;
  --color-min-500: #00cea5;
  --color-min-600: #00a584;
  --color-min-700: #00846a;
  --color-min-800: #0f6554;
  --color-min-900: #054236;
  --color-grey-50: #f5f5f5;
  --color-grey-100: #d6d6d6;
  --color-grey-200: #c1c1c1;
  --color-grey-300: #acacac;
  --color-grey-400: #989898;
  --color-grey-500: #838383;
  --color-grey-600: #595959;
  --color-grey-700: #303030;
  --color-grey-800: #262626;
  --color-grey-900: #1d1d1d;
  --color-red-50: #fdeeee;
  --color-red-100: #fbdddd;
  --color-red-200: #f7bcbc;
  --color-red-300: #f39a9a;
  --color-red-400: #ef7979;
  --color-red-500: #eb5757;
  --color-red-600: #d73535;
  --color-red-700: #c61a1a;
  --color-red-800: #b90606;
  --color-red-900: #aa0000;
  --color-sunbeam-50: #f9fdff;
  --color-sunbeam-100: #f2faff;
  --color-sunbeam-200: #e6f5ff;
  --color-sunbeam-300: #d9f0ff;
  --color-sunbeam-400: #cdebff;
  --color-sunbeam-500: #C0E6FF;
  --color-sunbeam-600: #9BD1F4;
  --color-sunbeam-700: #73B6E1;
  --color-sunbeam-800: #4499CF;
  --color-sunbeam-900: #388DC2;
  --color-green-50: #e9f7ef;
  --color-green-100: #d4efdf;
  --color-green-200: #a9dfbf;
  --color-green-300: #7dcea0;
  --color-green-400: #52BE80;
  --color-green-500: #27AE60;
  --color-green-600: #1f8b4d;
  --color-green-700: #17683A;
  --color-green-800: #104626;
  --color-green-900: #082313;
  --color-yellow-50: #fef8eb;
  --color-yellow-100: #fde9c4;
  --color-yellow-200: #fde1b0;
  --color-yellow-300: #fbd289;
  --color-yellow-400: #fac361;
  --color-yellow-500: #f9b43a;
  --color-yellow-600: #c7902e;
  --color-yellow-700: #956c23;
  --color-yellow-800: #644817;
  --color-yellow-900: #32240c;
}
