:root {
  --shadow-none: 'none';
  --shadow-xs: 0 2px 4px rgba(29, 29, 29, 0.06);
  --shadow-s: 0 2px 8px rgba(2, 16, 39, 0.08);
  --shadow-m: 0 0 12px rgba(29, 29, 29, 0.16);
  --shadow-xl: 0 -4px 8px rgba(29, 29, 29, 0.04);
  --shadow-xxl: 2px 16px 64px rgba(29, 29, 29, 0.16);
}
