:root {
  --shadow-none: 'none';
  --shadow-xs: 0 2px 4px rgba(38, 38, 38, 0.06);
  --shadow-s: 0 2px 8px rgba(38, 38, 38, 0.08);
  --shadow-m: 0 4px 12px rgba(38, 38, 38, 0.08);
  --shadow-xl: 0 6px 24px rgba(38, 38, 38, 0.1);
  --shadow-xxl: 2px 8px 48px rgba(38, 38, 38, 0.2);
}
