:root {
  /* TODO: typography is not yet completely decided by the design team. this must be checked in the future */

  /* Font families */
  --font-family-system: Objektiv, sans-serif, 'Helvetica Neue', Helvetica, Arial;

  /* Font sizes */
  --font-size-10: 10px;
  --font-size-12: 12px;
  --font-size-14: 14px;
  --font-size-16: 16px;
  --font-size-20: 20px;
  --font-size-24: 24px;
  --font-size-28: 28px;
  --font-size-32: 32px;
  --font-size-48: 48px;
  --font-size-60: 60px;

  /* Font weights */
  --font-weight-regular: 300;
  --font-weight-medium: 400;
  --font-weight-bold: 500;
  --font-weight-xbold: 600;
}

/*
  Heading
*/
@define-mixin display_large__bold {
  font-size: 60px;
  line-height: 68px;
  font-weight: bold;
  letter-spacing: -2.5px;
  font-family: var(--font-family-system);
}

@define-mixin heading01_large__bold {
  font-size: 48px;
  line-height: 56px;
  font-weight: bold;
  letter-spacing: -2%;
  font-family: var(--font-family-system);
}

@define-mixin heading01_large__medium {
  font-size: 48px;
  line-height: 56px;
  font-weight: 500;
  letter-spacing: -2%;
  font-family: var(--font-family-system);
}

/*
  Button
*/
@define-mixin button_large__bold {
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2%;
  font-family: var(--font-family-system);
}

@define-mixin button_medium__bold {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 2%;
  font-family: var(--font-family-system);
}

@define-mixin button_small__medium {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2%;
  font-family: var(--font-family-system);
}
