@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./files/objektivmk3_rg.woff') format('woff2'),
    url('./files/objektivmk3_rg_2.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  letter-spacing: 0;
}

/*
  We use the same definition with font-weight: normal.
  Otherwise this gets mapped to 400 which we don't support.
  Instead the browser will make a lighter version bigger.
*/
@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./files/objektivmk3_rg.woff') format('woff2'),
    url('./files/objektivmk3_rg.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
}

@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./files/objektivmk3_md.woff') format('woff2'),
    url('./files/objektivmk3_md.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  letter-spacing: 0;
}

@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./files/objektivmk3_bd.woff') format('woff2'),
    url('./files/objektivmk3_bd.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
}

/*
  We use the same definition with font-weight: bold.
  Otherwise this gets mapped to 700 which we don't support.
  Instead the browser will take a lighter font and will just make it bolder.
*/
@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./files/objektivmk3_bd.woff') format('woff2'),
    url('./files/objektivmk3_bd.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0;
}
