.tabs {
  border-bottom: 1px solid var(--color-tarmac-grey-100);
  display: flex;
  margin-bottom: var(--spacing-7);
}

.tabs__tab {
  color: #000;
  cursor: pointer;
  font-size: 14px;
  padding: var(--spacing-2) var(--spacing-3);
  position: relative;

  &:hover {
    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }

  &:after {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    background-color: var(--color-primary-700);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  &.tabs__tab_active {
    color: var(--color-primary-500);

    &:after {
      transform: scaleX(1);
      transform-origin: bottom left;
    }
  }
}
