.tab_header {
  border-bottom: 1px solid var(--color-grey-100);

  & button {
    background: transparent;
    border: none;
    color: var(--color-grey-400);
    cursor: pointer;
    padding: 8px;
    position: relative;

    &.active {
       color: var(--color-grey-700);

      &:after {
          content: '';
          background: var(--color-min-700);
          position: absolute;
          bottom: 0;
          left: 0;
          right: 0;
          height: 3px;
      }
    }
  }
}
