.status {
  text-decoration: none;
  font-size: 12px;
  padding: 2px 8px;
}

.proposal {
  color: var(--color-tarmac-grey-700);
  background-color: var(--color-tarmac-grey-50);
}

.ready {
  color: var(--color-mustang-yellow-900);
  background-color: var(--color-mustang-yellow-200);
}

.recommendation {
  color: var(--color-heycar-mint-600);
  background-color: var(--color-green-50);
}
