.status {
  text-decoration: none;
  font-size: 12px;
  padding: 2px 8px;
}

.proposal {
  color: var(--color-old-ferrari-red-700);
  background-color: var(--color-old-ferrari-red-100);
}

.first_integration {
  color: var(--color-mustang-yellow-700);
  background-color: var(--color-mustang-yellow-100);
}

.ready_for_first_integration {
  color: var(--color-tertiary-700);
  background-color: var(--color-tertiary-300);
}

.recommendation {
  color: var(--color-success-500);
  background-color: var(--color-success-50);
}
