@import '../../../themes/src/default.css';

:root {
  --button-inverted-primary-color: var(--color-light-text-primary-inverted);
}

.component {
  border: 0;
  color: var(--button-inverted-primary-color);
  font-weight: bold;
}

/* .component:disabled {
  &.primary {
    color: var(--button-primary-disabled-color);
    background-color: var(--button-primary-disabled-bg-color);

    &.loading {
      background-color: var(--button-primary-base-bg-color);
    }
  }

  &.secondary {
    color: var(--button-secondary-disabled-color);
    background-color: var(--button-secondary-disabled-bg-color);
    border-color: var(--button-secondary-disabled-border-color);

    &.loading {
      color: var(--button-secondary-color);
      background-color: var(--button-secondary-base-bg-color);
      border-color: var(--button-secondary-base-border-color);
    }
  }
} */
