@import '../../../themes/src/default.css';

/*
* Base
*/
.button {
  font-family: var(--font-family-system);
  padding: var(--gap-2xs) var(--gap-xl);
  position: relative;
  display: inline-flex;
  vertical-align: middle;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  margin: 0;
  border: 0;
  outline: none;
  box-shadow: none;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  line-height: 1.2;
  border-style: solid;
  white-space: nowrap;
  gap: var(--gap-xs);

  &:disabled,
  &[disabled] {
    cursor: default;
    pointer-events: none;
  }
}

/* Full width */
.fullWidth {
  display: flex;
  width: 100%;
}

/* Loading */
.loading .text,
.loading .icon {
  opacity: 0;
}

.loading {
  pointer-events: none;

  &:hover {
    background: currentColor;
  }
}

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
