@import '../../../themes/src/default.css';

/*
* Vars
*/
:root {
  /* Sizes */
  --button-small-height: var(--size-small-height);
  --button-large-height: var(--size-large-height);
}

/*
* Sizes
*/
.small {
  min-height: var(--button-small-height);
  @mixin button_small__medium;
}

.large {
  min-height: var(--button-large-height);
  @mixin button_large__bold;
}
