@import '../../../themes/src/default.css';

:root {
  /* primary */
  --button-primary-base-bg-color: var(--color-primary-500);
  --button-primary-hover-bg-color: var(--color-primary-600);
  --button-primary-active-bg-color: var(--color-primary-700);

  /* secondary */
  --button-secondary-base-bg-color: var(--color-secondary-500);
  --button-secondary-hover-bg-color: var(--color-secondary-600);
  --button-secondary-active-bg-color: var(--color-secondary-700);
}

.primary {
  background-color: var(--button-primary-base-bg-color);

  &:hover {
    background-color: var(--button-primary-hover-bg-color);
  }

  &:active {
    background-color: var(--button-primary-active-bg-color);
  }
}

.secondary {
  background-color: var(--button-secondary-base-bg-color);

  &:hover {
    background-color: var(--button-secondary-hover-bg-color);
  }

  &:active {
    background-color: var(--button-secondary-active-bg-color);
  }
}
