@import '../../../themes/src/default.css';

:root {
  /* primary */
  --button-primary-base-bg-color: var(--color-primary-main);
  --button-primary-hover-bg-color: var(--color-primary-hover);
  --button-primary-active-bg-color: var(--color-primary-pressed);

  /* secondary */
  --button-secondary-base-bg-color: var(--color-secondary-main);
  --button-secondary-hover-bg-color: var(--color-secondary-hover);
  --button-secondary-active-bg-color: var(--color-secondary-pressed);
}

.primary {
  background-color: var(--button-primary-base-bg-color);

  &:hover {
    background-color: var(--button-primary-hover-bg-color);
  }

  &:active {
    background-color: var(--button-primary-active-bg-color);
  }
}

.secondary {
  background-color: var(--button-secondary-base-bg-color);

  &:hover {
    background-color: var(--button-secondary-hover-bg-color);
  }

  &:active {
    background-color: var(--button-secondary-active-bg-color);
  }
}
