@import '../../../themes/src/default.css';

/*
* Vars
*/
:root {
  /* disabled */
  --button-disabled-color: var(--color-neutral-300);
  --button-disabled-bg-color: var(--color-neutral-50);

  /* primary */
  --button-primary-color: #fff;
  --button-primary-base-bg-color: var(--color-primary-500);
  --button-primary-hover-bg-color: var(--color-primary-600);
  --button-primary-active-bg-color: var(--color-primary-700);

  /* tertiary */
  --button-tertiary-color: var(--color-neutral-700);
  --button-tertiary-base-bg-color: var(--color-tertiary-500);
  --button-tertiary-hover-bg-color: var(--color-tertiary-600);
  --button-tertiary-active-bg-color: var(--color-tertiary-700);

  /* whatsapp */
  --button-whatsapp-color: #fff;
  --button-whatsapp-base-bg-color: var(--color-whatsapp-500);
  --button-whatsapp-hover-bg-color: var(--color-whatsapp-600);
  --button-whatsapp-active-bg-color: var(--color-whatsapp-700);
}

/*
* Mixins
*/
@define-mixin button_color $color {
  background: $color;
  border-color: $color;
  color: $color;

  &:after {
    border-color: $color;
  }
}

/*
* Colors
*/

/* primary */
.primary {
  @mixin button_color var(--button-primary-base-bg-color);

  &:hover {
    @mixin button_color var(--button-primary-hover-bg-color);
  }

  &:active,
  &:focus-visible {
    @mixin button_color var(--button-primary-active-bg-color);
  }
}

/* tertiary */
.tertiary {
  @mixin button_color var(--button-tertiary-base-bg-color);

  &:hover {
    @mixin button_color var(--button-tertiary-hover-bg-color);
  }

  &:active,
  &:focus-visible {
    @mixin button_color var(--button-tertiary-active-bg-color);
  }
}

/* whatsapp */
.whatsapp {
  @mixin button_color var(--button-whatsapp-base-bg-color);

  &:hover {
    @mixin button_color var(--button-whatsapp-hover-bg-color);
  }

  &:active,
  &:focus-visible {
    @mixin button_color var(--button-whatsapp-active-bg-color);
  }
}

/*
* Variants
*/

/* contained */
.contained {
  &.primary {
    color: var(--button-primary-color);
  }

  &.tertiary {
    color: var(--button-tertiary-color);
  }

  &.whatsapp {
    color: var(--button-primary-color);
  }

  &:disabled,
  &[disabled] {
    background: var(--button-disabled-bg-color);
    border-color: var(--button-disabled-bg-color);
    color: var(--button-disabled-color);
  }
}

/* outlined */
.outlined {
  background: transparent;

  &:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-style: solid;
    border-width: 1px;
    border-color: currentColor;
    box-sizing: border-box;
    z-index: 0;
  }

  &:hover {
    background: transparent;

    &:after {
      border-width: 2px;
    }
  }

  &:active,
  &:focus-visible {
    background: none;
    &:after {
      border-width: 2px;
    }
  }

  &.tertiary {
    color: var(--button-tertiary-color);
  }

  &:disabled,
  &[disabled] {
    color: var(--button-disabled-color);
    background: none;

    &:after {
      border-color: var(--button-disabled-bg-color);
    }
  }
}

.link {
  min-height: auto;
  padding: 0;
  background: transparent;
  text-decoration: underline;
  text-underline-offset: 1px;

  &:hover {
    background: transparent;
    text-decoration-thickness: 2px;
  }

  &:active,
  &:focus-visible {
    background: transparent;
  }

  &:disabled,
  &[disabled] {
    border-color: var(--button-disabled-color);
    color: var(--button-disabled-color);
  }
}
