@import '../../themes/src/default.css';

:root {
  /* primary */
  --button-primary-base-bg-color: var(--color-mica-blue-400);
  --button-primary-hover-bg-color: var(--color-mica-blue-300);
  --button-primary-active-bg-color: var(--color-mica-blue-600);

  /* secondary */
  --button-secondary-base-bg-color: var(--color-min-400);
  --button-secondary-hover-bg-color: var(--color-min-300);
  --button-secondary-active-bg-color: var(--color-min-600);
}

.primary {
  background-color: var(--button-primary-base-bg-color);

  &:hover {
    background-color: var(--button-primarys-hover-bg-color);
  }

  &:active {
    background-color: var(--button-primary-active-bg-color);
  }
}

.secondary {
  background-color: var(--button-secondary-base-bg-color);

  &:hover {
    background-color: var(--button-secondary-hover-bg-color);
  }

  &:active {
    background-color: var(--button-secondary-active-bg-color);
  }
}
