.breadcrumbWrapper {
  display: flex;
  flex-direction: row;
  color: var(--color-tarmac-grey-700);
  list-style: none;
  font-weight: var(--font-weight-medium);
  padding: 0;
  margin: 0;
}

li:after {
  content: '|';
  padding: 0 7px;
}

li:last-child:after {
  content: '';
}

li:last-child {
  color: var(--color-neutral-500);
}

a {
  text-decoration: none;
  color: var(--color-tarmac-grey-700);
}

.currentBreadcrumb {
  color: #838383;
}
