@import '../../../themes/src/default.css';

.breadcrumbWrapper {
  display: flex;
  flex-direction: row;
  color: var(--color-tarmac-grey-700);
  list-style: none;
  font-weight: var(--font-weight-medium);
  padding: 0;
  margin: 0;
  font-size: 12px;

  @media (--mobile) {
    flex-wrap: wrap;
  }
}

li:after {
  content: '|';
  padding: 0 7px;
}

li:last-child:after {
  content: '';
}

li:last-child {
  color: var(--color-neutral-500);
}

a {
  text-decoration: none;
  color: var(--color-tarmac-grey-700);
}

span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
  max-width: 20ch;
}

.currentBreadcrumb {
  color: var(--color-neutral-500);
}

.threeDots {
  cursor: pointer;
}
