/*
  Regular
*/
@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_regular.woff2') format('woff2'),
    url('./assets/objektivmk3_regular.woff') format('woff');
  font-weight: 100 400;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}

@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_regular.woff2') format('woff2'),
    url('./assets/objektivmk3_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}

/*
  Medium
*/
@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_medium.woff2') format('woff2'),
    url('./assets/objektivmk3_medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}

/*
  Bold
*/
@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_bold.woff2') format('woff2'),
    url('./assets/objektivmk3_bold.woff') format('woff');
  font-weight: 600 700;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}

@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_bold.woff2') format('woff2'),
    url('./assets/objektivmk3_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}

/*
  Xbold
*/
@font-face {
  font-family: 'Objektiv';
  font-display: swap;
  src: url('./assets/objektivmk3_xbold.woff2') format('woff2'),
    url('./assets/objektivmk3_xbold.woff') format('woff');
  font-weight: 800 950;
  font-style: normal;
  letter-spacing: 0;
  unicode-range: U+0000- U+007F;
}
