@import '../../../themes/src/default.css';

/*
* Colors
*/
:root {
  --option-background-color: var(--color-tarmac-grey-50);
  --option-text-color: var(--color-tarmac-grey-700);
  --container-border-color: var(--color-neutral-500);
  --container-focus-border-color: var(--color-mica-blue-500);
  --container-disabled-color: var(--color-neutral-300);
  --options-border-color: var(--color-neutral-50);
  --options-background-color: var(--color-championship-white);
}

.container {
  position: relative;
  width: 100%;
  border: 1px solid var(--container-border-color);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: var(--gap-s) var(--gap-s);
  outline: none;
  max-height: var(--gap-7xl);
  color: var(--option-text-color);
}

.container-content {
  display: flex;
  flex-direction: row;
  height: 24px;
}

.container:focus {
  border-color: var(--container-focus-border-color);
}

.container.disabled {
  color: var(--container-disabled-color);
  border-color: var(--container-disabled-color);
}

.container.disabled:focus {
  color: var(--container-disabled-color);
  border-color: var(--container-disabled-color);
}
.value {
  flex-grow: 1;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.caret_down {
  content: url(../icons/arrow_down.svg);
}

.caret_up {
  content: url(../icons/arrow_up.svg);
}

.caret_disabled {
  content: url(../icons/caret_disabled.svg);
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: 1px solid var(--options-border-color);
  width: 100%;
  left: -1px;
  top: calc(100% + 0.01em);
  background-color: var(--color-championship-white);
  z-index: 100;
  box-shadow: 0 2px 4px 0 var(--options-border-color),
    0 2px 5px 0 var(--options-border-color);
}

.options.show {
  display: block;
}

.option {
  padding: 9px 12px;
  cursor: pointer;
  max-height: var(--gap-7xl);
}

.option.selected {
  background-color: var(--color-mica-blue-500);
  color: var(--options-background-color);
}

.option.highlighted {
  background-color: var(--option-background-color);
}

.option:hover {
  color: var(--option-text-color);
  background-color: var(--option-background-color);
}

.contentContainer {
  padding-top: var(--gap-3xs);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.optionContent {
  font-size: var(--gap-m);
  justify-content: center;
  align-items: center;
  border: 0;
  min-height: var(--gap-2xl);
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  border-style: solid;
  flex-grow: 2;
  padding-top: var(--gap-3xs);
}

.leftContent {
  padding-right: var(--gap-xs);
}

.rightContent {
  padding-top: 3px;
  font-size: var(--gap-s);
}

/* Full width */
.fullWidth {
  width: 100% !important;
}
