@import '../../../themes/src/default.css';

/*
* Colors
*/
:root {
  /* background color */
  --option-background-color: var(--color-tarmac-grey-50);

  /* text color */
  --option-text-color: var(--color-tarmac-grey-700);
}

.container {
  position: relative;
  width: 20em;
  min-height: 1.5em;
  border: 0.07em solid var(--color-neutral-500);
  display: flex;
  align-items: center;
  gap: 0.5em;
  padding: 0.5em;
  outline: none;
}

.container:focus {
  border-color: var(--color-mica-blue-500);
}

.value {
  flex-grow: 1;
  display: flex;
  gap: 0.5em;
  flex-wrap: wrap;
}

.clear-btn {
  background: none;
  color: #777;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.25em;
}

.caret {
  translate: 0 25%;
  border: 0.25em solid transparent;
  border-top-color: #777;
}

.options {
  position: absolute;
  margin: 0;
  padding: 0;
  list-style: none;
  display: none;
  max-height: 15em;
  overflow-y: auto;
  border: 0.05em solid #777;
  width: 100%;
  left: 0;
  top: calc(100% + 0.25em);
  background-color: white;
  z-index: 100;
}

.options.show {
  display: block;
}

.option {
  padding: 0.25em 0.5em;
  cursor: pointer;
}

.option.selected {
  background-color: var(--option-background-color);
}

.option.highlighted {
  background-color: var(--option-background-color);
}

.option:hover {
  background-color: var(--option-background-color);
}

.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.optionContent {
  font-size: 14px;
  justify-content: center;
  align-items: center;
  border: 0;
  min-height: 28px;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration: none;
  border-style: solid;
  color: var(--option-text-color);
  flex-grow: 2;
}

.leftContent {
  padding-right: 5px;
}
