@import '../../../themes/src/default.css';

/*
* icon
*/

.chipCloseIcon {
  display: flex;
  margin-left: var(--gap-s);
}

.chipCloseIcon svg {
  font-size: 16px!important;
}

.leftIcon_choice {
  display: flex;
  margin-right: var(--gap-s);

}

.leftIcon_choice svg {
  font-size: 19px!important;
}

.leftIcon_filter svg {
  font-size: 16px!important;
}

.leftIcon_filter {
  display: flex;
  font-size: 16px!important;
  margin-right: var(--gap-s);
}
