@import '../../../themes/src/default.css';

/*
* Colors
*/

:root {
  /* border */
  --chip-border-color: var(--color-neutral-300);
}

/*
* Choice
*/

.chip_choice {
  border: 1px solid var(--chip-border-color);
  padding: var(--gap-s) var(--gap-2s);
}

/*
* Filter
*/

.chip_filter {
  padding: var(--gap-2xs) var(--gap-s);
  border: 0;
}
