@import '../../../themes/src/default.css';

.badge_primary {
  color: var(--color-championship-white);
  background-color: var(--color-primary-500);
}

.badge_secondary {
  color: var(--color-neutral-700);
  background-color: var(--color-secondary-500);
}

.badge_tertiary {
  color: var(--color-neutral-700);
  background-color: var(--color-tertiary-500);
}
