@import '../../../themes/src/default.css';

.wrapper {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  width: max-content;

  & button {
    @mixin typography-subheading-3;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 var(--spacing-3);
    width: auto;
    height: 46px;
    border: solid 1px var(--color-neutral-300);
    background: #fff;
    color: var(--color-neutral-700);
    cursor: pointer;

    & > svg {
      margin-right: 10px;
    }

    &:hover,
    &:focus {
      background: var(--color-neutral-50);
    }

    &:active {
      background: var(--color-neutral-100);
    }

    &[aria-checked='true'] {
      border: solid 1px var(--color-primary-500);
      outline: solid 2px var(--color-primary-500);
      outline-offset: -2px;
      background: var(--color-primary-50);
      color: var(--color-primary-500);

      &:hover,
      &:focus {
        border: solid 1px var(--color-primary-600);
        outline: solid 2px var(--color-primary-600);
        outline-offset: -2px;
        background: var(--color-primary-100);
        color: var(--color-primary-600);
      }

      &:active {
        border: solid 1px var(--color-primary-700);
        outline: solid 2px var(--color-primary-700);
        outline-offset: -2px;
        background: var(--color-primary-100);
        color: var(--color-primary-700);
      }
    }

    &:disabled {
      background: #fff !important;
      border: solid 1px var(--color-neutral-300) !important;
      color: var(--color-neutral-300) !important;
      outline: none;
      cursor: not-allowed;
    }

    .isWideView & {
      padding: 0 var(--spacing-16);
    }
  }
}
