@import '../../../themes/src/default.css';

.pagination {
  list-style: none;

  & ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0;
    margin: 0;
    list-style: none;
    gap: var(--gap-m);
  }

  & button,
  & a {
    box-sizing: border-box;
    background-color: transparent;
    text-decoration: none;
    outline: 0;
    border: 0;
    margin: 0;
    padding: 0;
    user-select: none;

    color: var(--color-neutral-700);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--gap-5xl);

    &:hover:not(.disabled) {
      background-color: var(--color-neutral-50);
    }
    &:active:not(.disabled) {
      background-color: var(--color-neutral-100);
    }
  }

  & .currentPage {
    color: var(--color-primary-500);
    border: var(--color-primary-500) var(--gap-3xs);
    border-bottom-style: solid;
    padding-top: var(--gap-3xs);
  }

  & .itemNumber {
    padding: 0 var(--gap-s);
  }

  & .arrow {
    width: 40px;
  }

  & .ellipsis,
  & .slash {
    user-select: none;
    height: var(--gap-5xl);
    display: flex;
    align-items: center;
  }

  & .disabled {
    pointer-events: none;
    cursor: not-allowed;
    color: var(--color-neutral-300);
  }
}
